.nav-color{
  background: #f9f9f9;
}

.nav-ajus {
  flex-direction: row;

li{
  margin-right: 1em;
}
}

.jumbo-ajus {
  text-align: center;
  background-color: #1b1d20;

  h1{
    font-size: 2.25rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    line-height: 1.2;
    font-weight: normal;
    color:#fff;
    }
}